*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-clr-900: #000;
  --primary-clr-800: #1C1C1C;
  --primary-clr-700: #232323;
  --primary-clr-500: #3D4235;
  --primary-clr-400: #36890E;

  --neutral-clr-100: #fff;

  --fs-900: clamp(2rem, 9vw, 5.813rem);
  --fs-800: clamp(2.5rem, 3vw, 3rem);
  --fs-600: clamp(1.75rem, 3vw, 2.25rem);
  --fs-500: clamp(1.25rem, 3vw, 1.625rem);
  --fs-400: clamp(1rem, 3vw, 1.5rem);
  --fs-300: .875rem;

  --br: 2.375rem;
}

/* global stylings */

body::-webkit-scrollbar {
  width: .9375rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr-400);
  border-radius: 1.25rem;
  border: .1875rem solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(33, 69, 16, 0.75);
}

body::-webkit-scrollbar-track {
  background-color: #000;
}

/* header */

header {
  position: relative;
  min-height: 100vh;
  color: var(--neutral-clr-100);
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/bg-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.header-social-links {
  display: flex;
  gap: 1rem;
}

@media (max-width: 50em) {
  .header-social-links {
    display: none;
  }
}

.header-social-links > li {
  max-width: 2.625rem;
  cursor: pointer;
}

.logo {
  font-size: var(--fs-800);
}

.header-content {
  max-width: 50rem;
  margin-inline: auto;
  margin-top: 6rem;
}

@media (max-width: 50em) {
  .header-content {
    margin-top: 3rem;
  }
}

.header__title {
  text-align: center;
  font-size: var(--fs-900);
}

@media (max-width: 50em) {
  .header__title {
    margin-top: 5rem;
  }
}

.header__title > .remedios {
  position: relative;
}

.header__title > .remedios::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--neutral-clr-100);
}

.header__title > .naturais {
  color: var(--primary-clr-400);
  position: relative;
}

.header__title > .naturais::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-clr-400);
}

@media (max-width: 50em){
  .header__title > .naturais::before,
  .header__title > .remedios::after {
    height: 2px;
  }
}

.header__p {
  text-align: center;
  color: var(--neutral-clr-200);
  font-size: var(--fs-400);
  margin-block: 1rem 6rem;
  opacity: .7;
}

@media (max-width: 50em) {
  .header__p {
    margin-block: 2rem 5rem;
    padding-inline: 1.75rem;
  }
}

.header-group-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header-button__ver, .header-button__contato {
  border: 0;
  outline: transparent;
  padding: .75rem 2.75rem;
  cursor: pointer;
  font-size: var(--fs-500);
} 

.header-button__ver {
  border-radius: 2.375rem 0 2.375rem 2.375rem;
  background-color: var(--primary-clr-400);
  color: var(--neutral-clr-100);
  border: 3px solid var(--primary-clr-400);
  box-shadow: 0rem .3rem 0rem 0rem var(--primary-clr-900);
}

.header-button__contato {
  border-radius: 0 2.375rem 2.375rem 2.375rem;
  border: 3px solid var(--neutral-clr-100);
  background-color: transparent;
  color: var(--neutral-clr-100);
}

@media (max-width: 50em) {
  .header-group-buttons {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .header-button__ver, .header-button__contato {
    border-radius: 100vmax;
    padding: .35em 1.75em;
  }
}

/* main */

/* medicine section */

.medicine-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-clr-500);
  color: var(--neutral-clr-100);
  padding-top: 7.5rem;
  padding-inline: 2rem;
}

.medicine__title {
  text-align: center;
  font-size: var(--fs-800);
  padding-bottom: 6.875rem;
}

.medicine-content {
  display: flex;
  justify-content: center;
}

.medicine-benefits-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.medicine-benefits-wrapper:first-child {
  transform: translateX(1.25rem);
}

.medicine-content-img-wrapper {
  margin-right: 3.5rem;
}

.nTranslate {
  transform: translateX(-10%);
}

.pTranslate {
  transform: translateX(10%);
}

.medicine-content__benefits {
  font-size: var(--fs-600);
  width: fit-content;
  max-width: 20ch;
}

.medicine-content__benefits::before {
  content: "";
  display: inline-block;
  background-image: url("images/check-icon.png");
  width: 30px;
  height: 30px;
  margin-right: .25rem;
}

.medicine-content-img-wrapper {
  max-width: 450px;
  margin-inline: auto;
}

@media (max-width: 50em) {
  .medicine-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .medicine-benefits-wrapper {
    gap: 1rem;
  }

  .nTranslate {
    transform: none;
  }

  .pTranslate {
    transform: none;
  }

  .medicine-content-img-wrapper {
    order: 1;
  }

  .medicine-benefits-wrapper:first-child {
    order: 2;
  }

  .medicine-benefits-wrapper:last-child {
    order: 3;
  }
}

/* products section */
.products-section {
  background-color: var(--primary-clr-500);
  color: var(--neutral-clr-100);
  padding-block: 15rem;
}

.products__title {
  text-align: center;
  font-size: var(--fs-800);
}

.products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  margin-top: 3.75rem;
  position: relative;
  max-width: 37.5rem;
}

.product-img-wrapper {
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 .25rem .25rem 0rem rgba(0, 0, 0, 0.35);
}

.product-img-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.product__title {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  font-size: var(--fs-800);
  padding-bottom: 1rem;
}

.product-description {
  padding-top: 1.25rem;
}

/* contact section */

.contact-section {
  background-color: var(--primary-clr-700);
  color: var(--neutral-clr-100);
}

.contact__title {
  font-size: var(--fs-600);
}

.contact-border-style {
  border: 1px solid var(--neutral-clr-100);
  padding: 1.25rem 0rem;
}

.contact-bg-style {
  padding: 1.25rem 0rem;
  background-color: #404040;
  transform: translateX(15px);
  position: relative;
  z-index: 1;
}

.contact-content__img {
  transform: translateX(25px);
  position: relative;
  z-index: 2;
}

.contact__title {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

@media (max-width: 50em) {
  .contact-content {
    display: block;
  }
  
  .contact-bg-style {
    padding: 0;
    transform: none;
    background: none;
  }

  .contact-border-style {
    border: 0;
    padding: 0;
  }

  .contact-content__img {
    transform: none;
    width: min(100%, 30rem);
    margin-inline: auto;
  }
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-clr-800);
  padding: 3.75rem;
}

@media (max-width: 50em) {
  .form {
    background: none;
    padding: 3rem .5rem 3rem .5rem;
    max-width: 25rem;
    margin-inline: auto;
  }
}

.input-name, .input-email {
  margin-top: .25rem;
  background-color: transparent;
  border: 2px solid #9A9A9A;
  padding-block: .25rem;
  padding-left: .5rem;
  color: #fff;
}

.input-email {
  margin-bottom: 1rem;
}

.form__p {
  color: var(--neutral-clr-100);
  opacity: .5;
  font-size: var(--fs-300);
  margin-top: 1rem;
  text-align: center;
}

.form__button {
  background-color: var(--neutral-clr-100);
  padding-block: .25rem;
  cursor: pointer;
}

/* footer */

.footer {
  background-color: var(--primary-clr-700);
  padding-block: 10rem 3.938rem;
}

.footer > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer li {
  max-width: 2.625rem;
}

@media (max-width: 50em) {
  .footer {
    display: none;
  }
}

/* utility classes */

.container {
  width: min(90%, 69.375rem);
  margin-inline: auto;
  padding-top: 3.75rem;
}

@media (max-width: 50em) {
  .container {
    padding-top: 2.75rem;
  }
}